<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Show the Twitter Helper</title>
    </head>
    <body>

      <!--  <h2>1. Follow Button</h2>
        <p>@Twitter.FollowButton(userName: "NickAustinLee", showCount: true, largeButton: false, language: "es")</p> -->

      <!--- <h2>2. Tweet Button</h2>
        <p>@Twitter.TweetButton(url: "http://www.asp.net/mvc", largeButton: true, hashtag: "awesome")</p> -->
        <h2>Tweet at me!</h2>
        <p>@Twitter.TweetButton(url: "http://nickaustinlee.com", largeButton: true, tweetText: "Hello Nick! @NickAustinLee", hashtag: "lolcats")</p>
        
        <h2>My Tweets :)</h2>
        <p>@Twitter.Profile("NickAustinLee", "343496403810656256")</p>

        <h2>Xamarin Twitter Feed</h2>
        <p>@Twitter.Faves("XamarinHQ", "452899562324115456")</p>

         <h2>Microsoft Twitter Feed</h2>
        <p>@Twitter.Faves("Microsoft", "372486349795753984")</p>

    </body>
</html>